@use 'variables' as v;

.font-loader {
    display: grid;
    grid-template-rows: [r1] 42px [r2] auto[r3];
    @include v.border("-right");
    overflow: hidden;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        padding: 8px;
        //@include v.border($side: "-bottom");

        p {
            @include font-ui-pos('small','bold');
        }
        .editbtn {
            display: flex;
            position: relative;
            &:hover {
               // background: $figma-black-3;
            }
            input{
                position: absolute;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                outline: none;
                opacity: 0;
                
            }
        }

        
    }
    
}
.font-list {
    overflow-y: auto;
    height: 100%;
}
.font-item {
    display: flex;
    padding: v.$padding-lr;
    height: v.$height;
    .name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        margin: 8px 0; 
    }
   
    @include font-ui-pos('small','normal');
    @include v.border($color: #fff);
    &:hover {
        border-color: $figma-blue;
    }   
    &.active {
        background: v.$selected;
    }

}

.font-loader-init {
    p {
        @include font-ui-neg('small','normal');
    }
    padding: v.$padding-lr;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $figma-black-8;
    text-align: center;
    pointer-events: none;
    padding-bottom: 1rem;
}