.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: $figma-grey; /* Grey background */
    border-radius: 2px;
    //border: 1px solid $figma-grey;
    outline: none; /* Remove outline */
    margin: 0.4rem 0.1rem;
    cursor: pointer;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    background: $figma-black-1;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    border-radius: 8px;
    border: 1px solid $figma-black-1; /* Green background */
    background: $figma-white;
    cursor: pointer; /* Cursor on hover */
    &:hover {
      border-color: $figma-black-1;
    }
  }

  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    &:hover {
      border-color: $figma-black-1;
    }
  }