@use 'variables' as v;

.selector {
    select {
        width: 100%;
        max-width: 100%;
        border: 1px solid transparent;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: $border-radius-small;
        appearance: none;
        height: 24px;
        @include font-ui-pos('small','normal');
        padding: v.$padding-lr;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%225%22%20viewBox%3D%220%200%207%205%22%20width%3D%227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m3%203.70711-3-3.000003.707107-.707107%202.646443%202.64645%202.64645-2.64645.70711.707107-3%203.000003-.35356.35355z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.3%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
        background-position: right 0px top 50%;
        //background-size: .65em auto;
        cursor: pointer;
        &:hover, &:focus {
            border-color: $figma-black-1;
           

        }
        &:focus {
            outline: none;
        }
        option {
            background: $figma-hud;
            outline: none;
            color: $figma-white;
            @include font-ui-neg('small','normal');
            padding: v.$padding-lr;
            border-radius: $border-radius-small;
            height: 20px;
        }
    }	
}
